/*  ==================Global Styling==================*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding:0px;
  background: gold radial-gradient(gold, orangered);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.input_field {
  position: relative;
  padding: 0 0 20px 0px;
}

input {
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  padding: 10px;
  border: 2px inset;
  max-width: 20em;
  height: 2.5em;
  color: steelblue;
  font-size: 20px;
  min-width: 15em;
}

input:focus {
  outline-color: #a5d9dc;
  outline-style: auto;
  outline-width: 5px;
}

.container {
  margin: 15px;
  height: 90vh;
}

.content {
  font: 800 14.5em/1  'Open Sans', Helvetica;
}

h2, h3 {
  font: 400 1em/1 'Open Sans', Helvetica;
  color: white;
  text-align: center;
  letter-spacing: 1.4em;
  margin: 1em auto 0px;
  padding-left: 20px;
}

h2 {
  font: 300 1.5em/1 'Open Sans', Helvetica;
  color: #FF8DA2;
  letter-spacing: normal;
  text-align: left;
  padding: .5em 0 1em 0;
  margin-top: 0px;
}

h4.deleted_items {
  display: inline-block;
  font-size: 1em;
  padding: 0px;
  vertical-align: top;
  line-height: 0em;
  margin: 14px 0px;
  font-weight: 300;
  color: #fff;
  opacity: .8;
}


/*Colors*/
.pink {
	color: #e06084;;
}

.big_list {
  max-width: 33em;
  background-color: #475B8D;
  padding: 1.5em 3em 3.5em 3em;
  margin: 0 auto;
  border-radius: 2em;
  height: auto;
  top: 10%;
  -webkit-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
  box-shadow: #3A1A08 5px 5px 30px;
}

.fancy_borders, .fancy_border {
  margin: 1em 0px 1em 0px;
  border-top-style: ridge;
  border-top: 2px solid #F5A503;
  padding: 10px 0px 0px 0px;
}

.fancy_borders {
  border-bottom-style: ridge;
  border-bottom: 2px solid #F5A503;
  padding: 10px 0px 10px 0px;
}

.search-bar {
  text-align: left;
  min-height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
  width: 100%;
  position: fixed;
  right: 0px;
  background-color: #465b8c;
}

.col {
  padding-left: 1rem;
}

.social {
  float: right;
}

.social_bottom {
  margin-left: 1rem;
  padding: .75em 1em;
}
.social-icons a {
  padding: 1.25rem 0.25rem;
  color: #ccc;
}
li.social-icons {
  display: inline-block;
  font-size: 1.25em;
}

h4.info {
    color: #ccc;
}

span {
    color: white;
}


/* ==================ANIMATED CHARACTER STYLING==================*/
.text {
  fill: none;
  stroke-width: 6.5;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear; 
}
  
.text:nth-child(5n + 1) {
  stroke: #E95032;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; 
}
.text:nth-child(5n + 2) {
  stroke: #FDC86F;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s; 
}
.text:nth-child(5n + 3) {
  stroke: #A5D9DC;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s; 
}
.text:nth-child(5n + 4) {
  stroke: #65C9D3;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s; 
}
.text:nth-child(5n + 5) {
  stroke: #1FAAAF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s; 
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400; 
  } 
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400; 
  } 
}

svg {
  width: 50%;
  margin: 0px auto 0px;
  display: block;
  text-transform: uppercase;
}


/* ==================MAIN CONTENT STYLING==================*/

.shopping_list, .going_shopping {
  margin: 0 auto;
}


/* ==================FORM STYLING==================*/

form.shopping_list {
  width: 100%;
}

.shopping_list {
	padding: 0 0em;
	max-width: 900px;
	margin: 0 auto;
  width: 100%;
}

.shopping_list ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 100%;
}

.shopping_list li {
  margin: 0 auto;
  padding: .75em 0;
  position: relative;
}

.shopping_list li.done {
  margin: 0 auto;
  padding: 1.9mm 0;
}

.shopping_list label {
	display: inline-block;
	position: relative;
	font-size: 1.5em;
	padding: 0 0 0 65px;
	vertical-align: top;
	color: rgb(145, 151, 167);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.shopping_list input[type="checkbox"],
.shopping_list input[type="radio"],
.shopping_list label::before {
	width: 35px;
	height: 35px;
	top: 50%;
	left: 0;
	margin-top: -20px;
	position: absolute;
	cursor: pointer;
}

.shopping_list input[type="checkbox"],
.shopping_list input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.shopping_list label::before {
	content: '';
	border: 3px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.shopping_list input[type="checkbox"]:checked + label,
.shopping_list input[type="radio"]:checked + label {
	color: #fff;
  text-decoration: line-through;
} 

.shopping_list input[type="checkbox"]:checked + label::before,
.shopping_list input[type="radio"]:checked + label::before  {
	opacity: 0.5;
}

.shopping_list li.done label {
  display: inline-block;
  position: relative;
  font-size: 2.75em;
  padding: 0 0 0 35px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.53);
  cursor: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: line-through;
  color: white;
}

.shopping_list li.done input[type="checkbox"]:checked + label::before {
  opacity: 1;
}

.shopping_list li.done label::before {
  border: 3px solid #FF8B00;
  width: 12px;
  height: 12px;
  top: 25%;
  left: 13px;
  margin-top: 0px;
  position: absolute;
  border-radius: 12px;
  background-color: #FF8DA2;
  cursor: none;
}

/* General SVG and path styles */
.shopping_list svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	left: 5px;
	pointer-events: none;
}

.shopping_list svg path {
	stroke: #FF8B00;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.shopping_list svg {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  margin-top: -15px;
  left: 5px;
  pointer-events: none;
}

.shopping_list svg {
  stroke: #ffff;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover {
  color: #F5A503;
  text-decoration: none;
  opacity: 1;
}

.tooltip:hover:after {
  background: #2C4076;
  background: rgb(37, 48, 77);
  border-radius: .5em;
  bottom: 1.65em;
  color: #fff;
  content: attr(data-tooltip);
  right: -2em;
  padding: .3em .75em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: .8em;
}

.tooltip:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgb(37, 48, 77) transparent;
  border-width: .4em .4em 0 .4em;
  bottom: 1em;
  content: "";
  display: block;
  left: -2.25mm;
  position: absolute;
  z-index: 99;
  bottom: 0mm;
}

/*Buttons*/
.left {
  float: left;
}

.right {
  float: right;
}

.cbutton {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: #B6C6D6;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: .5;
}
.cbutton:hover {
  opacity: 1;
}

.cbutton.cbutton--click,
.cbutton:focus {
  outline: none;
  color: #FF7B00;
  opacity: 1;
}

.cbutton__icon {
  display: block;
}

.cbutton__text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.cbutton::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}

.cbutton--effect-jelena::after {
  border: 2px solid rgba(111,148,182,0.5);
}

button.cbutton.cbutton--effect-jelena.right{
    top: .25em;
}

.cbutton--effect-jelena.cbutton--click::after {
  -webkit-animation: anim-effect-jelena 0.3s ease-out forwards;
  animation: anim-effect-jelena 0.3s ease-out forwards;
}

@-webkit-keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

/* Media Queries */
@media screen and (max-width: 1120px) {

svg {
    width: 50%;
    }
}

@media screen and (max-width: 640px) {
	.container {
    margin: 40px 30px;
  }
  h2 {
    font: 300 1.75em/1.5'Open Sans', Helvetica;
  }
  h4.deleted_items {
    display: inline-block;
    font-size: 2em;
  }
  section {
		font-size: 65%;
	}
  .big_list{
    padding: 0.5em 2em 3.5em 2em;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(0%);
  }
  input, select, textarea {
    max-width: 80%;
    padding: 0px 10px;
    font-size: 18px;
  }
  input {
    height: 2.25em;
    margin-bottom: 10px;
  }
  .cbutton{
    font-size: 2em;
    top: .5em;
  }

  button.cbutton.cbutton--effect-jelena.right{
    top: .25em;
  }
  button.cbutton.cb_add {
      top: 0;
  }
  .shopping_list label::before {
    border: 3px solid #fff;
  }  
  .shopping_list input[type="checkbox"], .shopping_list input[type="radio"] {
    width: 30px;
    height: 30px;
  }
  .shopping_list label {
    padding: 10px 0 0 45px;
    font-size: 2.25em;
  }
  .shopping_list input[type="checkbox"], 
  .shopping_list label::before {
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -10px;
  }
  .shopping_list svg {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 50%;
    margin-top: -6px;
    left: 5px;
    pointer-events: none
  }
  h4.deleted_items {
    font-size: 1.5em;
    padding: 0px;
    line-height: 0em;
  }
}
  
@media screen and (max-width: 480px) {
  .container {
    margin: 30px;
  }

  svg {
    width: 65%;
    margin: 0 auto 0px;
    display: block;
    text-transform: uppercase;
  }
  h2 {
    font: 300 1.35em/1.5'Open Sans', Helvetica;
  }
  h3 {
    letter-spacing: .75em;
  }
  h4.deleted_items {
      font-size: 2em;
      padding: 0px;
      line-height: 0em;
  }
  .big_list {
    padding: 0.5em 2em 2em 2em;
  }

  h3 {
    font: 400 1em/1 'Open Sans', Helvetica;
  }
  h4.deleted_items {
    font-size: 1.25em;
    padding: 0px;
    line-height: 0em;
    margin: 15px 0px;
  }
  .big_list {
    max-width: 45em;
  }
  .shopping_list li {
    margin: 0 auto;
    padding: .5em 0;
  }
  .shopping_list label {
    font-size: 1.5em;
    padding: 5px 0 0 35px;
  }
  .shopping_list input[type="checkbox"], .shopping_list label::before {
    width: 25px;
    height: 25px;
    top: 50%;
    margin-top: -10px;
  }
  .cbutton {
      display: inline-block;
      padding: 0;
      font-size: 2em;
      padding-top: 0px;
  }
  button.cbutton.cbutton--effect-jelena.right{
      top: .25em;
  }
  input {
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 5px 10px;
    border: 2px inset;
    height: 1.75em;
    color: steelblue;
    font-size: 15px;
    min-width: 1.5em;
  }
  .input_field {
    position: relative;
    padding: 0 0 10px 0px;
  }
  .content {
      font: 800 15.5em/1 'Open Sans', Helvetica;
  }
  svg {
      width: 60%;
  }
  .shopping_list li.done {
    margin: 0 auto;
    padding: 1mm 0;
  }
  .shopping_list input[type="checkbox"]:checked + label, .shopping_list input[type="radio"]:checked + label {
    color: #fff;
    text-decoration: line-through;
    font-size: 2.75em;
  }
  .search-bar{
    height: 50px;
  }
}